
    
        <style>
            #login,
            #nav {
                padding: 0px;
                text-align: center;
                background-color: black;
        
            }
        
            #login {
                width: 600px;
                padding: 50px;
                display: none;
        
            }
        </style>
        
        
        <style>
            #buscar,
            #nav {
                padding: 0px;
                text-align: center;
                background-color: black;
        
            }
        
            #buscar {
                width: 600px;
                padding: 50px;
                display: none;
        
            }
        </style>
        
        
        <style>
            #alcan,
            #nav {
                padding: 0px;
                text-align: center;
                background-color: black;
        
            }
        
            #alcan {
                width: 600px;
                padding: 50px;
                display: none;
        
            }
        </style>
        
        
        
        
        <body style="background-image:url(view/app/img/micro.jpg);">
        
        
        
        
        
            <div id="login" style="background:silver;height:70%;width:80%;position:absolute; margin-left: 10%; margin-top:5%;">
                <button id="mover" style="margin-left: 990px ">x</button>
        
                <h2 class="display-3">Vision</h2>
                <p>
                    Ser reconocidos por brindar un buen servicio que permita una interacción acertada entre los usuarios, siendo así catalogados
                    como una de las mejores empresas internacionalmente, sobrellevando un propósito de una mejora continua para nuestro
                    aplicativo, los usuarios y compañías relacionadas
        
                </p>
        
        
            </div>
        
        
            <div id="buscar" style="background:silver;height:70%;width:80%;position:absolute; margin-left: 10%; margin-top:5%;">
                <button id="mover1" style="margin-left: 990px ">x</button>
                <h1>mision</h1>
                <p>
        
                    Somos una empresa la cual busca desarrollar un aplicativo en el cual se puedan establecer una asociación con la industria
                    del rap en el cual dará la facilidad a los usuarios de buscar los diferentes eventos que se hagan y su respectiva
                    ubicación además de ofrecer lo mas actual del genero y lo asociado a la temática como bares restaurantes demás
                    sitios.
                </p>
        
            </div>
        
        
            <div id="alcan" style="background:silver;height:70%;width:80%;position:absolute; margin-left: 10%; margin-top:5%;">
                <button id="mover2" style="margin-left: 990px ">x</button>
                <h1>alcance</h1>
                <p>
        
                    Respeto: Interactuar de manera adecuado con el usuario y sus clientes ya que permite una buena comunicación e interacción
                    Responsabilidad: Ser puntual con la entrega del aplicativo y con las ayudas y consultas que sean solicitadas
                    Honestidad: Ser honesto con el usuario y sus clientes y manejar una buena información con ambos
        
                </p>
        
            </div>
        
        
           
        
        
        
            <section  >
        
        
                <div class="nav" style="width: 20%; display: flex; 
                margin:auto; margin-top: 20PX; ">
        
        
                    <div id="nav" style="background-color: black">
                        <ul class="nav">
        
        
        
                            <input class="btn" type="button" id="busc" value="mision" style="width: 70px; height: 40px;" />
                            <input class="btn" type="button" id="click" value="vision" style="width: 70px; height: 40px; margin-left: 5px;" />
                            <input class="btn" type="button" id="alcance" value="valores " style="width: 70px; height: 40px; margin-left: 5px;" />
        
        
        
                        </ul>
                    </div>
                </div>
        
        
            </section>
            <div style="margin-bottom: 900PX; "></div>
        
        
            <script src="view/app/js/nosotros.js"></script>
        
        
        </body>

