
<div class="perfilartistas">
    <section class="info-artistas">
        <div class="container-fluid p-5">
            <div class="row">
                <div class="col-12 text-center col-md-3 img-fluid">
                    <img src="view/app/img/card3.jpg" alt="Foto Perfil">
                </div>
                <div class="col-12 col-md-9 text-center">
                    <h2 class="display-4">Descripcion</h2>
                    <p class="h2 text-uppercase text-center">nuestro numero de contacto: 465267673463 redes sociales jdhkosak@gmail.com
                        cantante con 10 años de experiencia en el escenario</p>
                </div>
            </div>
        </div>
    </section>
    <section class="pt-5">
        <div class="container-fluid p-0">
            <h2 class="text-uppercase text-center">subir</h2>
            <form>
                <a href=indeximagen.php>  fotos </a> <br/><br/><br/><br/>
                    
            </form>
            <div class="opciones-artistas text-center text-uppercase h3 p-2">
                <span role="" href="#" class="p-5">imagenes</span>
                <span href="#" class="p-5">videos</span>
                <span href="#" class="p-5">musica</a>
            </div>
            <div class="col-12 col-md-7 offset-md-3 p-3 mx-auto">
                <img class="p-auto perfil-usuario"  src="view/app/img/perfil.jpg" alt="">
            </div>

        </div>
    </section>
</div>

